{% extends "skeleton.html" %}

{% block contenido %}
{% include "tuit_template" %}
{% if likes.count() > 0 %}
{% for like in likes %}
<div class="border-bottom border-dark p-3">
    <div class="row">
        <div class="col-1">
            <svg class="bi bi-heart-fill" fill="currentColor" height="1em" style="color: rgb(224, 36, 94);" viewBox="0 0 16 16"
                 width="1em" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                      fill-rule="evenodd"/>
            </svg>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-8 ml-2">
                    <a href="/tuits/created?id={{ like.user.get().key.urlsafe() }}" style="color: white"><h6><b>{{
                        like.user.get().name
                        }}</b></h6></a>
                </div>
                <div class="col-4 ml-2">
                    <small>{{ like.dateTime.strftime('%d %B') }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="p-4">
    <h4> ¡No hay likes! </h4>
</div>
{% endif %}

{% endblock %}